*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    overflow-x: hidden;
 }
.fondo-color {
    background-color: rgb(250, 215, 227);
}

.menu ul a {
   
    color: white;
    border: none;
    padding: 10px 18px;
    margin: 0px 130px;
}

.menu ul {
    display: flex;
}
.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
nav a {
    text-decoration: none;
    color: black;
}
nav > ul {
    font-weight: bold;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
}
nav {
    display: flex;
    padding: 15px;
    padding-left: 30px;
    justify-content: space-between;
    align-items: center;
}
h1,
h2,
h3 {
    font-family: 'Spartan', sans-serif;
    
}







/*menu de categorias*/
body{
    min-height: 100vh;
    background: url();
    background-size: cover;
    background-position: center;
}
.side-bar{
    background:  rgba(255, 165, 196, 0.192);
    backdrop-filter: blur(15px);
    width: 290px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    overflow: auto;
    z-index: 1;
}
.side-bar.active{
left: 0;
}
.side-bar .menu{
    width: 100%;
    margin-top: 120px;
}
.side-bar .menu .item{
    position: relative;
    cursor: pointer;
}
.side-bar .menu .item a{
    color: rgb(44, 44, 44);
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 120px;
}
.side-bar .menu .item a:hover{
    width: 100%;
    background: #ffadfb93;
    transition: 0.3s ease;
}
.side-bar .menu .item i{
    margin-right: 15px;

}

.close-btn{
    position: absolute;
    color: rgb(146, 68, 68);
    font-size: 20px;
    right: 0;
    margin: 25px;
    margin-top: 108px;
    cursor: pointer;
}
.menu-btn{
    position: absolute;
    color:  rgb(250, 215, 227);
    font-size: 20px;
    margin: 25px;
    cursor: pointer;
}
/*Fin del menu de categorias*/

/*quienes somos*/
section {
    padding-top: 100px;
}

main {
    width: 1024px;
    margin: auto;
}



/*contacto*/
#contacto {
    text-align: center;
}







/*RESET*/


body {
    margin: 0;
}

.redes,
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: black;
}

#logohome {
    width: 100px;
}

#prodd{
    margin-top: 150px!important;
}

#detalles li {
    list-style:none;
}


/*FUENTES*/



nav > ul {
    font-weight: bold;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Spartan', sans-serif;
    
}

footer {
    color: white;
    font-size: 14px;
    text-align: center;
    font-family: monospace;
}



/*SKIN*/

body{
    background-color: #fff4fa;
}

.fondo-color {
    background-color: rgb(250, 215, 227);
}

.fondoportada {
    background-image: url(../fotos/jewellery-4603231_1920.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-color: blanchedalmond;
}

.fondoportada2 {
    background-image: url(../fotos/prod-port.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-color: blanchedalmond;
}


.menu ul a {
   
    color: white;
    border: none;
    padding: 10px 18px;
   
    margin: 0px 5px;
}



.menu ul a:active {
   
    color: rgb(245, 92, 151);
   
}

footer {
    background-color: gray;
    padding: 15px;
    margin-top: 60px;
}

.redes a {
    color: rgb(245, 92, 151);
    font-size: 50px;
    text-decoration: none;
    padding: 5px 10px;
}

.redes a:hover {
    background-color: rgba(237, 172, 197, 0.77);
    color: white;
    border-radius: 8px;
}

.redes a:active {
    border: 3px solid rgba(237, 172, 197, 0.77);
    color: rgba(237, 172, 197, 0.77);
    background-color: white;
}

.botonenviar {
    background-color: rgb(245, 92, 151);
    border:solid 1px rgb(245, 92, 151) ;
    color:white;
}

.botonenviar:hover {
    background-color:white;
    border: solid 1px rgb(245, 92, 151);
    color: rgb(245, 92, 151);
}

#contacto {
    text-align: center;
}


.mail {
    font-style: italic;
}
#fotosprod span{
    background-color: palevioletred;
    border-radius: 6px;
    padding: 8px;
    text-transform: uppercase;
    color:white; 
}
h1{
    font-size: 32px;
    padding-bottom: 30px;
}
h2{
    font-size: 25px;
}
h3{
    font-size: 20px;
    padding: 20px;
}


/*LAYOUT*/

body{
    overflow-x: hidden;
 }
body {
    margin-top: 20px;
}

.diagramacionportada {
    padding-top: 260px;
    padding-bottom: 200px;
    padding-left: 80px;
    
}
.diagramacionportada2 {
    padding-top: 260px;
    padding-bottom: 200px;
    padding-left: 80px;
}
.logogrande {
    width: 600px;
}

.logogrande2 {
   padding-left: 30px;
   width: 200px;
}

.redes,
.menu ul {
    display: flex;
}

nav {
    display: flex;
    padding: 15px;
    padding-left: 30px;
    justify-content: space-between;
    align-items: center;
}

.redes {
    justify-content: center;
}

